<!DOCTYPE html>
<html>
<head>
	<title>Vue.js 2 For Beginners</title>
</head>
<body>

	<div id="app">
		<input type="text" v-model="nama">
		<button v-if="show == 'Add'" @click='newPerson' v-text="button1"></button>
		<button v-else="show" v-for="nomor in index" @click='updatePerson(nomor)' v-text="button3"></button><br>
		<ul>
			<li v-for="(user, index) in users">
				<span>{{ user.name }}</span>
				<button v-text="button2" @click="changeButton(index)"></button>
				<span> | </span>
				<button v-text="button4" @click='deletePerson(index)'></button><br><br>
			</li>
		</ul>
	</div>

	<script src="assets/vendor/vue.js"></script>
	<script src="assets/js/app.js"></script>

</body>
</html>